body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
    background: rgb(43, 56, 86);
    margin: 0;
    display: grid;
    align-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: rgb(204, 251, 93);
    max-width: 30cm;
    margin: 0 auto;
  }

ul {
    margin:0 auto;
    padding: 0;
}




a {
    color: rgb(204, 251, 93)
    }

    
